[user]
	name = xando
	email = sebastian.pawlus@gmail.com
[core]
	editor = emacs
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[color]
	ui = true
[alias]
        co = checkout
        st = status
        ci = commit
