ssh/*
git/.gitconfig

emacs/backups/
emacs/elpa/
emacs/eproject.lst
emacs/auto-save-list/
emacs/autosaves/
emacs/ac-comphist.dat
emacs/session*

xchat2/scrollback/
xchat2/servlist_.conf

todo.org

.zhistory
.zsh_history

